.container{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: 4rem auto;
    border-radius: 35px;
    background-color: white;
}
.container > .articleForm{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
}
.articleForm > label{
    font-weight: bold;
    font-size: 1.2rem;
}

.articleInput,.articleTextarea{
    display: block;
    padding:.5rem ;
    width: 100%;
    margin-top: .5rem;
}
.articleInput{
    border-radius: 10px;
    border: 1px solid black;
    outline: none;
}
.articleTextarea{
    border-radius: 10px;
    border: 1px solid black;
    outline: none;
}
.articleForm >label:nth-child(4){
    display: flex;
    align-items: center;
    
}
.fileIcon{
    margin-left: 1rem;
}

.previewImg{
    object-fit: cover;
    width: 50%;
    height: 50%;
    display: block;
}