.homeDashboard{
    background-color: rgb(235, 235, 235);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 10vh;
}
.adminCards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
}
.card{
    animation: from-left 0.5s linear;
    width: 20vw;
    height: 30vh;
    background-color: #e06134;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 20px;
    font-weight: bolder;
    font-size: 1.5vw;
    padding: 0.5rem;
    
}

.card2{
    background-color: #3396fe;
}

.card3{
    background-color: #33b85f;
}
.cardContent p:nth-child(1){
    font-size: 3.5vw;
    padding: 0;
    margin-top: 0.2rem;
    filter: drop-shadow(16px 16px 20px rgb(7, 0, 0))
}

.cardContent p:nth-child(2) {
    filter: drop-shadow(16px 16px 20px rgb(7, 0, 0))
}

.cardContent{
    display: flex;
    flex-direction: column;
}
.card{
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.card i{
    font-size: 6vw;
}

.icons:hover{
    color: rgb(216, 216, 216);
    cursor: pointer;
}

a{
    color: aliceblue;
}
.charts{
    animation: from-left 0.5s linear;
    width: 50%;
    display: flex;
    flex-direction: row;
}

@keyframes from-left {
    0% {
        opacity: 0;
        translate: -20px 0px;
    }

        100% {
        opacity: 1;
        translate: 0px 0px;
    }
}

.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}

.bottom div img{
    width:20vw;
    height: 100%;
}
.userDetails{
    margin-top: 1rem;
}
.userDetails img{
    width: 20%;
}